body {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 391px;
  height: 846px;
  justify-content: center;
  background-color: #fafaff;
  position: relative;
}
.header {
  width: 327.33px;
  height: 23.83px;
  margin-top: 15.89px;
  margin-right: 32px;
}
.food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 61.92px;
  /* gap: 15px; */
  /* padding: 40px 20px 20px; */
}
.food1 {
  width: 44px;
  height: 44px;
  opacity: 100%;
  padding-top: 35.79px;
}

.food {
  width: 116.16px;
  height: 116.116px;
  object-fit: cover;
  border-radius: 92.93px;
  background: #ffffff;
  opacity: 32%;
  padding: 0px;
}
.food-opacity{
  opacity: 72%;
}
.login-section {
  position: absolute;
  width: 345px;
  height: 372px;
  opacity: 100%;
 top: 448px;
 left: 23px;
  
  background-color: white;
  border-radius: 16px;
}

.login-section img{
  width: 57px;
  height: 0px;
  border: 2px solid gray;
  border-radius:2px ;
  color: gray;
  position: absolute;
  left: 144px;
  top: 16px;
}
.login-1 {
  position: absolute;
  width: 162px;
  height: 48px;
  left: 159px;
  top: 56px;
 
  
}
.login-1 img{
  position: absolute;
  left: 114px;
width: 48px;
height: 48px;
border: 1px solid white;
border-radius: 50%;
}
.login-1 p{
  position: absolute;
  top: 11px;
  left: 0px;
  width: 106px;
  height: 26px;
  font-size: 15px;
  font-weight: bold;
}

.label {
  position: absolute;
  top: 136px;
  left: 164px;
  width: 157px;
  height: 18px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);

}
.input{
  position: absolute;
  left: 24px;
  top: 190px;
  width:270px;
  height: 44px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(107, 114, 128, 0.35);
}
.input p{
  position: absolute;
  top: 12px;
  left: 197px;
  width: 94px;
  height: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.input img{
  position: absolute;
  top: 26px;
  left: 16px;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border: #ffffff;
}








